{{ define "main" }}
<article class="content-page">
  <h1>{{ .Title }}</h1>
  {{ .Content }}
  {{ range .Pages.ByDate.Reverse }}
    <div class="blog-entry">
      <h2><a href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
      <time datetime="{{ .Date.Format "2006-01-02" }}">
        {{ .Date.Format "January 2, 2006" }}
      </time>
      {{ with .Params.author }}
        <span class="author">&mdash; {{ . }}</span>
      {{ end }}
      {{ with .Summary }}
        <p>{{ . }}</p>
      {{ end }}
    </div>
  {{ end }}
</article>
{{ end }}
